<title>{{pageTitle}}</title>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<input ng-change="search()" ng-model="searchTxt" class="form-control input-lg" placeholder="Search Patient by Name"/>
	</div>
</div>
<br/>
<div ng-if="patientsFound" class="row">
	<div class="col-md-12 panel panel-default">
		<table class="table">
			<thead>
				<tr>
					<th>Sr.No</th>
					<th>Name</th>
					<th>Contact</th>
					<th>City</th>
					<th>
						<div align="center">Actions</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="patient in patientsFound">
					<td scope="row">{{$index+1}}</td>
					<td>{{patient.firstName}} {{patient.lastName}}</td>
					<td>{{patient.mobileNo}}</td>
					<td>{{patient.city}}</td>
					<td>
						<div align="center">
							<button class="btn-link" ng-click="editPatient(patient)">Edit</button>
							<button class="btn-link" ng-click="createVisit(patient)">Visit</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>