<title>{{pageTitle}}</title>
<!-- <h3 class="text-info text-center">{{pageTitle}}</h3> -->
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-2 text-right text-info icare-label"><b>Select Date:</b></div>
	<div class="col-md-2" align="center">
		 <input ng-change="search(appointment)" required="required" type="date" class="form-control input-group-lg" ng-model="appointment.datedOn" placeholder="For Date"/>
	</div>
</div>
<br/>
<div ng-if="appointment.patientqueue.live" class="row">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h3 class="text-info text-center">Current Queue</h3>
		</div>
		<div class="col-md-4">
			<h3 class="text-info text-center">On Hold</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="thumbnail col-sm-12 col-md-12 patient-queue-container"
				ng-repeat="patient in appointment.patientqueue.live">
				<div class="col-md-4">
					<img
						src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png"
						alt="Image NA" width="60">
				</div>
				<div class="col-md-8">
					<div class="row label-patient-name">
						<div class="col-md-10">{{patient.name}}</div>
						<div class="col-md-1">{{$index+1}}</div>
					</div>
					<div class="row">
						<div class="col-md-12">{{patient.mobileNo}}</div>
					</div>
					<div class="row">
						<div class="col-md-9">{{patient.emailId}}</div>
						<div ng-click="putOnHold(patient)" class="col-md-2 onhold-label">OnHold<span class="glyphicon glyphicon-chevron-right" style="display: inline;"></span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail col-sm-12 col-md-12 patient-queue-container"
				ng-repeat="patient in appointment.patientqueue.onhold">
				<div class="col-md-4">
					<img
						src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png"
						alt="Image NA" width="60">
				</div>
				<div class="col-md-8">
					<div class="row label-patient-name">
						<div class="col-md-10">{{patient.name}}</div>
						<div class="col-md-1">{{$index+1}}</div>
					</div>
					<div class="row">
						<div class="col-md-12">{{patient.mobileNo}}</div>
					</div>
					<div class="row">
						<div class="col-md-9">{{patient.emailId}}</div>
						<div ng-click="moveBackToLive(patient)" class="col-md-2 onhold-label">Back<span class="glyphicon glyphicon-chevron-left" style="display: inline;"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>